{{ 'accordion-data.css' | asset_url | stylesheet_tag: preload: true }}

{%liquid

    assign details = product.metafields.custom.details
    assign works = product.metafields.custom.the_science_behind_the_scenes
    assign shipping = product.metafields.custom.shipping_returns
 %}

<div class="accordion-data">
    <div class="accordion-item">
        <button class="accordion">Details <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>{{details | metafield_tag }}</p>
        </div>
    </div>
    
    <div class="accordion-item">
        <button class="accordion">How it Works <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>{{works | metafield_tag}}</p>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion">Shipping & Returns <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>{{shipping | metafield_tag}}</p>
        </div>
    </div>
    <div class="accordion-item" >
        <a class="faqs" href="#faqs">FAQS</a>
    </div>

</div>




<script async>
    (function () {

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            }
        }
    
    })();
</script>