{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<div class="accordion-data">
    <div class="accordion-item">
        <button class="accordion">Details <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
    </div>
    
    <div class="accordion-item">
        <button class="accordion">How it Works <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion">How it Works <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
    </div>
    <div class="accordion-item">
        <button class="accordion">How it Works <span class="accordion-icon"> {% render 'icon-chevron-up' %} </span></button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
    </div>

</div>




<script async>
    (function () {

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            }
        }
    
    })();
</script>