<button class="accordion">Details</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">How it Works</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Shipping</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">FAQS</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>