{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<button class="accordion">Details</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">How it Works</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Shipping</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">FAQS</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>


<script async>
    (function () {

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            }
        }
    
    })();
</script>