<style>

    

    .progress-bar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: 
          radial-gradient(closest-side, white 79%, transparent 80% 100%),
          conic-gradient(#FF004A 33%, black 0);    
      }

   
</style>

<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>

