<style>
    .progress-bar {
        display: flex;
  justify-content: center;
  align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: 
          radial-gradient(closest-side, white 79%, transparent 80% 100%),
          conic-gradient(black {{ progress | minus: 100 | times: -1 }}%, #FF004A 0);    
      }

      .progress-text {
        font-weight: bold;
        font-size: 20px;
        line-height: 1
      }
</style>

<p>{{ progress | minus: 100 | times: -1 }}%</p>
<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <span class="progress-text" >{{progress}}%</span>
</div>

