

<div class="grid cols-2">


    <div class="grid-item"></div>
    <div class="grid-item">
        {{- product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 64px, 80px', widths: '64,128,80,160', class: 'horizontal-product__image rounded-xs' -}}
    
    </div>



</div>


