<svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 47 38" width="47" height="38">
	<title>neck 1</title>
	<defs>
		<image width="47" height="38" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAmCAMAAABj9jJWAAAAAXNSR0IB2cksfwAAAFpQTFRFAAAA/wBI/wBK/wBK/wBK/wBI/wBH/wBJ/wBI/wBI/wBJ/wBL/wBK/wBK/wBJ/wBJ/wBJ/wBK/wBA/wBJ/wBJ/wBK/wBK/wBM/wBK/wBJ/wBL/wBL/wBK/wBQ1j7WzQAAAB50Uk5TACCAkP9AT99gX7/v72BwUKCfEJBvMM9Af49fj98QD9mzXwAAAWxJREFUeJyt1ItugjAUBuAeu3LbKo6MSJbs/Z9sU7fEIRdRpnQooG1PizPZn5hQ+WhLWw6QIQDEGiEu6vIfHfFNgz0TRnrOpMaeuEcbp/vLpeS9g82zyuRJUGOqda94CPbInsYtpTdTFsU8Iz+X+1RuTbc3uOZJuNMWiTY/SlvfJAgLuclhrd1H40N42HVXnrtGe4g8tISFba8O/+pa4/6BF8OMo5zV+oph3/4cd9O+Oivb7fiTl/LPPlrf5+cr3YdU2QHVJ2Wue/60sPrXTx/7Sjr9qn9JicmTIDP5yF8RsyfxAns2XxKbJ8m7UH3UdMcS+/6T4Km4+sjJ+y8xKQrV88fl8HYr0fmrHk9StmNAXFqqgik8hVlxm0kPQPx9j3+GkbKG4+dgLiLGeHRzXs84s1ZaObQW/fq/fYzU/iHN7HSwe6iVHRynkva3e6KyzsrbCu38nMOm1WSHbHDMpJKoTzxOqbTfjptpBesXyUt+Th3KY5wAAAAASUVORK5CYII="/>
	</defs>
	<style>
	</style>
	<use id="Background" href="#img1" x="0" y="0"/>
</svg>