<div class="review-before-after-item">

    {% if review.review_img != blank  %}
        <img src="{{ review.review_img | asset_img_url }}" alt="Before & After">
    {% endif %}
    
    <div class="review-info">
        <div class="stars"> {% render 'five-stars' %}</div>
        <h3>{{ review.review_title }}</h3>
        <p>{{ review.review_text }}</p>
    </div>


</div>