<div class="review-before-after-item">

    {% if review.review_img != blank  %}
        <img src="{{ review.review_img | asset_img_url }}" alt="Before & After">
    {% endif %}
    
    <div class="review-info">
        <div class="stars"> {% render 'five-stars' %}</div>
        <h3 class="review-title" >{{ review.review_title }}</h3>
        <p class="review-text">{{ review.review_text }}</p>
        <div class="review-author">{{ review.author }}</div>
    </div>
</div>