{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<div class="grid cols-4 info-features cols-2-mobile gap-20">
    <div class="grid-item">
        {% render 'dermatolly-tested-icon' %}
        <p>Dermatologist tested</p>
    </div>
    <div class="grid-item">
        {% render 'fda-icon' %}
        <p>FDA - Cleared Technology</p>
    </div>
    <div class="grid-item">
        {% render '30-days-icon' %}
        <p>30 day money-back guarantee</p>
    </div>
    <div class="grid-item">
        {% render 'delivery-status-icon' %}
        <p>Free Shiping</p>
    </div>
</div>
