{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<div class="grid cols-4 info-features cols-2-mobile gap-20">
    <div class="grid-item">
        {% render 'dermatolly-tested-icon' %}
        <p>Clear acne & prevent breakouts</p>
    </div>
    <div class="grid-item">
        {% render 'fda-icon' %}
        <p>Improve scalp health & hair growth</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/30_days.webp?v=1717166129" width="40" height="40" decoding="async" alt="feature-1">
        <p>Stimulate collagen production</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/box-icon-for-your-website-design-logo-app-ui-free-vector.jpg?v=1717166243" width="40" height="40" decoding="async" alt="feature-1">
        <p>Boost blood circulation</p>
    </div>
</div>
