<div class="grid cols-4 ">
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/30-days_1_430x.png?v=1714248225" width="40" height="40" decoding="async" alt="feature-1">
        <p>Dermalologist tested</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/fda_430x.png?v=1714248225" width="40" height="40" decoding="async" alt="feature-1">
        <p>fda - cleared technology</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/fda_430x.png?v=1714248225" width="40" height="40" decoding="async" alt="feature-1">
        <p>30 day money-back guarantee</p>
    </div>
</div>