<div class="grid 4-cols">
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/30-days_1_430x.png?v=1714248225" width="20" height="20" decoding="async" alt="feature-1">
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>