{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<div class="grid cols-4 info-features cols-2-mobile gap-20">
    <div class="grid-item">
        {% render 'dermatolly-tested-icon' %}
        <p>Clear acne & prevent breakouts</p>
    </div>
    <div class="grid-item">
        {% render 'fda-icon' %}
        <p>Improve scalp health & hair growth</p>
    </div>
    <div class="grid-item">
        {% render '30-days-icon' %}
        <p>Stimulate collagen production</p>
    </div>
    <div class="grid-item">
        {% render 'delivery-status-icon' %}
        <p>Boost blood circulation</p>
    </div>
</div>
