{{ 'accordion-data.css' | asset_url | stylesheet_tag }}

<div class="grid cols-4 info-features cols-2-mobile gap-20">
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/derma_430x.png?v=1714248225" width="40" height="40" decoding="async" alt="feature-1">
        <p>Clear acne & prevent breakouts</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/5d9fb2f37eb761905acbcfb44bdc94fc7570ffec-3873x3873.jpg?v=1717165968" width="40" height="40" decoding="async" alt="feature-1">
        <p>Improve scalp health & hair growth</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/30_days.webp?v=1717166129" width="40" height="40" decoding="async" alt="feature-1">
        <p>Stimulate collagen production</p>
    </div>
    <div class="grid-item">
        <img src="https://cdn.shopify.com/s/files/1/0640/3588/1113/files/delivery-status_1_430x.png?v=1714248225" width="40" height="40" decoding="async" alt="feature-1">
        <p>Boost blood circulation</p>
    </div>
</div>
