<div class="section-wrapper">



</div>

{% schema %}
    {
        "name": "Before After Product",
        "class": "before-after-product-progress",
        "presets": [
            {
              "name": "Before After Product Progress"
            }
          ]
    }
{% endschema %}