<div class="section-wrapper" style="background-color: {{ section.settings.bg_color }}" >

    <div class="container">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <h3 class="subheading">{{ section.settings.subheading }}</h3>
        
    </div>

</div>

{% schema %}
    {
        "name": "Before/After Product",
        "class": "before-after-product-progress",
        "settings": [
            {
                "type": "text",
                "label": "Heading",
                "id": "heading"
            },
            {
                "type": "text",
                "label": "Subheading",
                "id": "subheading"
            },
            {
                "type": "color",
                "label": "Background Color",
                "id": "bg_color",
                "default": "transparent"
            }
        ],
        "blocks": [
            {
                "name": "Tab Item",
                "type": "slide",
                "settings": [
                  {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                  },
                  {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                  },
                  {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                  },
                  {
                    "type": "header",
                    "content": "Before/After Images"
                  },
                  {
                    "type": "text",
                    "id": "before_text",
                    "label": "Before Text",
                    "default": "Before"
                  },
                  {
                    "type": "image_picker",
                    "id": "before_image",
                    "label": "Before Image"
                  },
                  {
                    "type": "text",
                    "id": "after_text",
                    "label": "After Text",
                    "default": "After"
                  },
                  {
                    "type": "image_picker",
                    "id": "after_image",
                    "label": "After Image"
                  }      
                ]
              }
        ],
        "presets": [
            {
              "name": "Before After Product Progress"
            }
          ]
    }
{% endschema %}