<div class="section-wrapper">

    <div class="container">

        <h2 class="heading"></h2>
    
    </div>

</div>

{% schema %}
    {
        "name": "Before After Product",
        "class": "before-after-product-progress",
        "settings": [
            {
                "type": "text",
                "label": "Heading",
                "id": "heading"
            },
            {
                "type": "text",
                "label": "Subheading",
                "id": "subheading"
            }
        ],
        "presets": [
            {
              "name": "Before After Product Progress"
            }
          ]
    }
{% endschema %}