<blockquote class="tiktok-embed" 
    cite="https://www.tiktok.com/@pabloelectrum/video/7360081977627774213" 
    data-video-id="7360081977627774213" style="max-width: 605px;min-width: 325px;" > <section> 
                             </section> 
</blockquote> 



<script async src="https://www.tiktok.com/embed.js"></script>

{% schema %}
    {
        "name": "Customer Testimonials",
        "settings": [
            {
               "type": "text",
               "label": "Heading",
               "id": "heading"
            },
            {
                "type": "text",
                "label": "Video 1",
                "id": "vid_1"
            },
            {
                "type": "text",
                "label": "Video 2",
                "id": "vid_2"
            },
            {
                "type": "text",
                "label": "Video 3",
                "id": "vid_3"
            },
            {
                "type": "text",
                "label": "Video 4",
                "id": "vid_4"
            }
        ],
        "blocks": [

            {
                "type": "slide",
                "name": "Testimonial",
                "settings": [
                    {
                        "id": "testimonial_img",
                        "label": "Testimonial Image",
                        "type": "image_picker"
                    },

                    {
                        "type": "textarea",
                        "label": "Testimonial Text",
                        "id": "testimonial_text"
                    }
                ]
            }

        ],
        "presets": [
            {
              "name": "Customer Testimonials"
            }
        ]
    }
{% endschema %}