<div class="container">
    <div class="grid cols-4">
        {{ section.settings.vid_1 }}
    </div>
</div>




{% schema %}
    {
        "name": "Customer Testimonials",
        "settings": [
            {
               "type": "text",
               "label": "Heading",
               "id": "heading"
            },
            {
                "type": "html",
                "label": "Video 1",
                "id": "vid_1"
            },
            {
                "type": "html",
                "label": "Video 2",
                "id": "vid_2"
            },
            {
                "type": "html",
                "label": "Video 3",
                "id": "vid_3"
            },
            {
                "type": "html",
                "label": "Video 4",
                "id": "vid_4"
            }
        ],
        "blocks": [

            {
                "type": "slide",
                "name": "Testimonial",
                "settings": [
                    {
                        "id": "testimonial_img",
                        "label": "Testimonial Image",
                        "type": "image_picker"
                    },

                    {
                        "type": "textarea",
                        "label": "Testimonial Text",
                        "id": "testimonial_text"
                    }
                ]
            }

        ],
        "presets": [
            {
              "name": "Customer Testimonials"
            }
        ]
    }
{% endschema %}