

<div class="flex">
    <div class="w-50"></div>
    <div class="w-50"></div>
</div>

{% schema %}
    {
        "name": "Hightlight List",
        "class": "hightlist-list",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
        "blocks": [],
        "presets": [
            {
              "name": "Hightlight List"
            }
        ]
    }
{% endschema %}