{{ 'press-carousel.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper">
    <div class="subheading"></div>
    <h2></h2>
    <div class="splide press-carousel">
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide"></div>
            </div>
        </div>
    </div>

</div>

{% schema %}
    {
        "name": "Press Carousel",
        "class": "press-carouse-wrapper",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
        "presets": []
    }
{% endschema %}