{{ 'product-grid-with-photo.css' | asset_url | stylesheet_tag }}



<div class="container">
    <div class="grid cols-2 " >
        <div class="grid-item">
            <div class="col-img">
                {% if  section.settings.col_img != blank %}
                <img src="{{ section.settings.col_img  | image_url }}" decoding="async" loading="lazy" alt="Column image">
                {% endif %}
            </div>
        </div>
        <div class="grid-item">
            {% render 'horizontal-product' product: section.settings.top_prod %}
        </div>
    </div>
</div>




{% schema %}
    {
        "name": "Product Grid - Photo",
        "class": "product-grid-col-photo",
        "settings": [
            {
                "type": "text",
                "label": "Heading",
                "id": "heading"
            },
            {
                "type": "image_picker",
                "label": "Column Image",
                "id": "col_img"
            },
            {
                "type": "product",
                "label": "Top Product",
                "id": "top_prod"
            },
            {
                "type": "product_list",
                "id": "bottom_prods",
                "label": "Bottom Products"
            }
        ],
        "presets": [
            {
               "name": "Product Grid with Photo"
            }
        ]
    }
{% endschema %}

