
<div class="section-wrapper-padding" style="background: {{ section.settings.bg_color }}">
    <div class="container">
        <h2>{{ section.settings.heading }}</h2>

    </div>
</div>


{% schema %}
    {
        "name": "Products Carousel",
        "class": "products-carousel",
        "settings": [
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background Color",
                "default": "#f3f3f3"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "presets": [
            {
                "name": "Products Carousel"
            }
        ]
    }
{% endschema %}