<h2>reviews</h2>


{% schema %}
    {
        "name": "Reviews Scroller",
        "class": "reviews-scroller",
        "tag": "section",
        "settings": [],
        "presets": [
            {
                "name": "Reviews Scroller"
            }
        ]

    }
{% endschema %}