
{{ "reviews-scroller.css" | asset_url | stylesheet_tag }}

{%liquid
    assign s = section.settings

    assign heading = s.heading
    assign text = s.text
%}

<div class="grid cols-2">
    <div class="grid-item">
        <h2>{{heading}}</h2>
        <p>{{ text }}</p>
    </div>
    <div class="grid-item"></div>
</div>

 
{% schema %}
    {
        "name": "Reviews Scroller",
        "class": "reviews-scroller",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Quick links"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text",
                "default": "Quick links"
            }
        ],
        "presets": [
            {
                "name": "Reviews Scroller"
            }
        ]

    }
{% endschema %}