
<div class="container">

    <div class="grid cols-2">
        <div class="grid-item">
            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', decoding: 'async' , draggable: false -}}
        </div>
        <div class="grid-item"></div>
    </div>

</div>

{% schema %}
    {
        "name": "Routine",
        "class": "routine",
        "settings": [
            {
                "type": "image_picker",
                "label": "Image",
                "id": "image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
        "blocks": [
            {
               "type": "slide",
               "name": "Step",
               "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
               ]
            }
        ],
        "presets": [
            {
              "name": "routine"
            }
        ]
    }
{% endschema %}