
<div class="section-wrapper-padding section-wrapper-margin">

    <div class="container">
        
        <h2>{{ section.settings.heading }}</h2>



    </div>

</div>

{% schema %}
    {
        "name": "tab Content List",
        "class": "tab-content-list",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Tab",
                "settings": [
                    {
                        "type": "header",
                        "content": "Left Content"
                    },
                    {
                        "type": "image_picker",
                        "id": "left_image",
                        "label": "Left Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "right_image",
                        "label": "right_image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Tab Content List"
            }
        ]
    }
{% endschema %}