<div class="section-wrapper">

    <div class="grid cols-2 gap-40">
        
    </div>

</div>

{% schema %}
    {
        "name": "2 Cols List With Image",
        "class": "col-list-with-image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text"
            }
        ],
        "presets": [
            {
               "name": "2 Columns List With Image"   
            }
        ]
    }
{% endschema %}