
<div class="container">
    <div class="grid cols-2">
        <div class="grid-item">
        
            <h2></h2>
            <h3></h3>
            <p></p>
            
            <img src="{{ " 07c7995e598f637918823e6733524978" | image_url }}" alt="logos">
           
    
        </div>
        <div class="grid-item">
            <div class="splide image-carousel">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
    {   
        "name": "2 Cols Image Carousel",
        "settings": [],
        "blocks": [ 
            {
                "type": "slide",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "Image",
                        "id": "image"
                    }
                ]
            }  
        ],
        "presets": [
            {
               "name": "2 Cols Image Carousel"
            }
        ]
    }
{% endschema %}