<h2>hello word</h2>

{% schema %}
    {
        "name": "Two Columns Products",
        "class": "two-cols-products-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
              },
              {
                "type": "text_alignment",
                "id": "title_alignment",
                "label": "Alignment"
              },
            {
                "type": "product_list",
                "id": "products",
                "label": "Products",
                "limit": 2
              }
        ],
        "presets": [
            {
              "name": "Two Columns Products",
              "category": "Text"
            }
          ]
    }
{% endschema %}