.three-seconds-heat h2 {
    font-weight: 500;
    margin-bottom: 0;
}

.three-seconds-heat .subheading {
    font-weight: 500;    
    font-size: 25px;
}



.three-seconds-heat .inner-container {
    background-color: #E7D5BF;
    padding: 30px;
}