.three-seconds-heat h2 {
    font-weight: 500;
    margin-bottom: 0;
}

.three-seconds-heat .subheading {
    font-weight: 500;    
    font-size: 25px;
}



.three-seconds-heat .inner-container {
    background-color: #E7D5BF;
    padding: 30px;
    border-radius: 36px;
    margin-top: 30px;
}

.three-seconds-heat h3 {
    font-size: 28px;
}

.three-seconds-heat .state-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.three-seconds-heat .stage-item {
    background-color: #F9EFE3;
    padding: 37px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.three-seconds-heat .stage-item  .text {
    font-size: 40px;
    font-weight: 500;
}

.three-seconds-heat  .button-text {
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    margin-top: 20px;
    padding: 10px
}

.three-seconds-heat .stage-item:not(:last-child) {
    margin-bottom: 20px;
}