.accordion {
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }