button.accordion {
    cursor: pointer;
    padding: 18px 0 5px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

button.accordion .accordion-icon svg  {
    transition: 0.2s;
}

button.accordion.active .accordion-icon svg {
    transform: rotate(180deg);
}

button.accordion.active + .panel {
    padding-bottom: 18px;
}
  

.panel {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out
}

.accordion-icon svg {
    width: 12px;
    height: 12px;
}