.advantage-section .container {
    border-radius: 40px;
}

.advantage-section img {
    border-radius: 0 40px 40px 0;
}

.advantage-section .grid-item:first-child {
    padding: 70px 30px 70px 70px;
}