.advantage-section .container {
    border-radius: 40px;
}

.advantage-section img {
    border-radius: 0 40px 40px 0;
}

.advantage-section h3 {
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

.advantage-section .item p {
    color: #3d3d3d;
}

.advantage-section  .icon {
    padding-top: 0.5px;
}

.advantage-section .grid-item:first-child {
    padding: 70px 30px 70px 50px;
}

.advantage-section  .subheading {
    font-weight: 500;
    font-size: 22px;
}

.advantage-section  h2 {
    font-weight: 500;
}