.before-after-product-progress .headings {
    text-align: center;
    max-width: 670px;
    margin: auto;
}

.before-after-product-progress .tabs-header,
.before-after-product-progress .tabs-header button  {
    border-radius: 150px;
}

.before-after-product-progress .tabs-header {
    max-width: 470px;
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
}

.before-after-product-progress .tabs-header button  {
   font-size: 18px;
   font-weight: 600;
   padding: 20px 0;
   text-align: center;
   width: 100%;
}

.before-after-product-progress .tabs-header button.active,
.before-after-product-progress .tabs-header button:hover {
    background-color: black;
    color: white;
}

.before-after-product-progress .tab-content-item:not(.active) {
    display: none;
}

.before-after-product-progress .tab-content-title{
    font-weight: 600;
    font-size: 35px;
}

.before-after-product-progress .tab-content-subtitle {
    font-size: 30px;
    font-weight: 400;
    color: #777;
}

.before-after-product-progress .tab-content-text {
    font-size: 21px;
   color: #222;
}

.before-after-product-progress .headings h2 {
    font-weight: 600;
}

.before-after-product-progress .headings h3 {
    color: #FF004A;
}

.before-after-product-progress  img {
    max-height: 480px;
    object-fit: cover;
}

.before-after-product-progress .tab-title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}


