.shopify-section--header {
    z-index: 999 !important;
}

/*cart progress bar*/




.lb-cpb-progress-text-wrapper * {
    font-weight: 700;
}

.progress-checkpoint svg {
    width: 13px;
    fill: #f83a3a;
}

.progress-checkpoint {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px  solid #f83a3a; 
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: -10px;
}

.lb-cpb-multiple-progress-bar-wrapper .lb-cpb-progress-indicator {
    background-image: linear-gradient(315deg, rgba(255, 255, 255, .4) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, .4) 0, rgba(255, 255, 255, .4) 75%, transparent 0, transparent);
    animation: slideBar 4s linear infinite;
    background-size: 1rem 1rem;
}

.lb-cpb-progress-bar,
.lb-cpb-multiple-goal-list-item {
    overflow: visible !important;
}

.lb-cpb-multiple-goal-list-item  {
    position: relative;
}

.lb-cpb-cart-goal-title-text {
    padding-bottom: 10px;
}

.lb-cpb-cart-goal-value-text {
    padding-top: 10px;
}

.cart-drawer .horizontal-product-list {
    display: flex;
}

.cart-drawer .horizontal-product {
      width: 100%;
      border-radius: 10px;
      padding: 10px;
}

.cart-drawer .horizontal-product .text-subdued {
    color: #f83a3a;
    font-weight: bold;
} 

.cart-drawer .horizontal-product__cta {
    margin-inline-end: 0;
}

.cart-drawer .horizontal-product button {
    background-color: #f83a3a;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}



@media only screen and (min-width: 1025px) {
    .cart-drawer .horizontal-product button {
        font-size: 16px;
    }

}


@media only screen and (min-width: 769px) { 

    .cart-drawer .horizontal-product img {
        object-fit: cover;
        height: 80px;
    }
}

@media only screen and (min-width: 480px) {
    .shopify-section--main-cart #lb-cart-progress-bar {
        min-width: 500px;
    }
}


@keyframes slideBar {
    0% {
        background-position-x: 0;
    }
    
    100% {
        background-position-x: 10rem;
    }
}

/*cart progress bar end*/

/*home slider*/

.slideshow .content-over-media {
    height: 600px;
}

/*home slider end*/


.shopify-section--slideshow .prose .h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3%;
}

.button--secondary {
    color: white;
}

.slideshow__controls .circle-button--bordered {
    color: white
}

.relative {
    position: relative;
}

.grid {
    display: grid;
}

.scroll-wrapper .os-content,
.flex {
    display: flex;
}

.w-25 {
    width: 25%;
}

.w-65 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-42 {
    width: 42%;
}

.w-58 {
    width: 58%;
}


.w-40 {
    width: 40%;
}

.os-scrollbar-handle {
    background-color: black !important;
    cursor: grab;
}

.os-scrollbar-track  {
    background-color: #D8D8D8 !important;
}

.os-scrollbar{
    margin: auto;
}


.top-shop-message {
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.header__link-list li a {
    font-weight: 400;
    text-transform: uppercase;
}

.section:has(.top-shop-message) {
    padding: 0;
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.align-item-center {
    align-items: center;
}

.align-item-start {
    align-items: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap-20,
.gap-20 .os-content {
    gap: 20px;
}

.gap-12 {
    gap: 12px;
}


.gap-40 {
    gap: 40px;
}

.gap-100 {
    gap: 100px;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.button {
    font-weight: 500;
}

.splide__arrow--prev svg {
    transform: scaleX(-1);
}



.footer {
    background-color: black;
    margin-top: 100px;
}

.footer * {
    color: white;
}

.footer .social-media svg {
    fill: white
}

.footer__block-list {
    gap: 40px
}

.footer input {
border-color: white;
}

.section-wrapper-padding {
    padding: 100px 0;
}

.section-wrapper-margin {
    margin: 100px 0;
}

.section-wrapper-margin-t {
    margin-top: 100px;
}

.section-wrapper-margin-b {
    margin-bottom: 100px;
}

.transparent {
    background-color: transparent;
}

.rating-with-text .rating  {
    display: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.subheading {
    color: #FF004A
}

.uppercase {
    text-transform: uppercase;
}

.heading-divider {
    background-color: #d0d0d0;
    height: 5px;
    width: 42px;
    margin: 20px 0;
}

.gradient-bg {
    background: linear-gradient(95.94deg, #F5E8DA 57.87%, #FEF8F0 100%);
}

.gradient-bg-100 {
    background: linear-gradient(145.62deg, #F3E6D6 0%, #FEF7EF 100.86%);
}

.pointer {
    cursor: pointer;
}

.flex-column {
    flex-direction: column;
}

.pt-0 {
    padding-top: unset;
}

.z-1 {
    z-index: 1;
}

.header__icon-list summary {
    text-transform: uppercase;
    font-weight: 400;
}

.slider-progress {
    background: #d8d8d8;
    border-radius: 10px;
    margin-top: 20px;
}
  
.slider-progress-bar {
    background: black;
    height: 6px;
    transition: width 400ms ease;
    width: 0;
    border-radius: 10px;
}

/*extra weights for main font*/


.product-card__info .rating,
.product-card__mobile-quick-buy-button {
    display: none !important
}


label[for="swatch-template--16709282103449__main-product-form-7998516920473-template--16709282103449__main--option1-purple"],
label[for="swatch-template--16704955187353__main---swatch-template-16704955187353__main-7998516920473-1-purple"] {
    --swatch-background: #7E6EA7 !important
}


/*kristi code*/
.two-cols-products-section .product-card__figure {
    height: 400px;
  }

  .product-card__figure img {
    width: 100%;
  }

  .two-cols-products-section .product-card,
  .products-carousel .product-card {
    border-radius: 20px;
  }

  .two-cols-products-section .product-card__info {
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
  }

  .two-cols-products-section .color-swatch--sm,
  .products-carousel .color-swatch--sm {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }

 

  .two-cols-products-section .rating,
  .products-carousel  .rating{
    display: none;
  }
  .two-cols-products-section .star-rating,
  .products-carousel .star-rating {
    order: -1;
  }
  
  .two-cols-products-section .product-card__aside,
  .products-carousel .product-card__aside{
    margin-top: 30px;
  }
  
  .two-cols-products-section .product-card__figure {
    height: 400px;
  }
  .two-cols-products-section .product-card { 
    border-radius: 20px;
  }
  .two-cols-products-section .product-card__info {
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
  }
  .two-cols-products-section .color-swatch--sm {
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
  .two-cols-products-section .rating {
    display: none;
  }
  .two-cols-products-section .star-rating {
    order: -1;
  }
  .two-cols-products-section .product-card__aside {
    margin-top: 30px;
  }
  .learnmore {
    display: inline-flex;
    width: 50%;
  }
  .view-more-button {
    border: 1px solid;
    width: 100%;
    border-radius: 100px;
    padding: 9px 18px;
    text-align: center;
  }
  .bottombuttos {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
  }
  
  .two-cols-products-section .text-subdued,
  .products-carousel .text-subdued {
    color: black;
    font-weight: bold;
  }
  .testimonial-carousel .icon-quote svg {
    fill: #e5e5e5e5;
  }
/*kristi code end*/



@media screen and (min-width: 1150px) {
    #shopify-section-template--16704955089049__featured-collection .section-header {
        grid-template-columns: 100%;
    }

    #shopify-section-template--16704955089049__featured-collection .section-header .prose {
        margin: auto;
        font-size: 40px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1025px) {
    .d-none-desktop {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    

    .tablet-lg-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .tablet-lg-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .column-tablet-lg {
        flex-direction: column;
    }

    .w-100-tablet {
        width: 100%;
    }
    
    .d-none-tablet {
        display: none;
    }

    .footer .footer__block {
        flex-basis: 50%;        
        flex-wrap: wrap;
    }

   
    .column-lg-tablet {
        flex-direction: column;
    }

    .flex-lg-tablet {
        display: flex;
    }

    .column-lg-tablet-reversed {
        flex-direction: column-reverse;
    }

    .footer__block-list {
      display: grid;
    }
}

@media screen and (max-width: 1000px) {
    .multiple-images-with-text {
        margin-inline-start: unset;
        margin-inline-end: unset;
        max-width: 100%;
    }

   
}


@media screen and (max-width: 768px) {

    .w-100-mobile {
        width: 100%;
    }

    .column-mobile {
        flex-direction: column;
    }

    .column-reverse-mobile {
        flex-direction:column-reverse ;
    }

    .tablet-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .tablet-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .gap-20-tablet {
        gap: 20px;
    }

    .table-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .os-content .grid-item {
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 237px;
    }

    .d-none-mobile {
        display: none;
    }

    .section-wrapper-padding {
        padding: 50px 0;
    }
    
    .section-wrapper-margin {
        margin: 50px 0;
    }
    
    .section-wrapper-margin-t {
        margin-top: 50px;
    }
    
    .section-wrapper-margin-b {
        margin-bottom: 50px;
    }


    
}

@media only screen and (max-width: 767px) {

    h2 { 
        font-size: 30px;
    }

    .cols-2,
    .custom-faqs .accordion-box,
    .mobile-cols-1  {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .cols-2-mobile {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    h2,
    h3,
    h4 {
        line-height: 1.2;
    }
}