.shopify-section--slideshow .prose .h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3%;
 
}

.slideshow__controls .circle-button--bordered {
    color: white
}

.grid {
    display: grid;
}

.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.align-item-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.button {
    font-weight: 500;
}

.splide__arrow--prev svg {
    transform: scaleX(-1);
}