
.testimonial-carousel {
    margin-top: 50px;
    margin-bottom: 100px;
}

.customer-testimonials .container {
    margin-top: 100px;
}

.testimonial-carousel .container {
    margin-top: 100px;
}

.testimonial-carousel .icon-quote svg {
    width: 100px;
    height: 100px;
    position: absolute;
    fill: #b2b2b2;
    z-index: -1;
    top: 0px;
    left: 0;
    transform: scaleX();
}

.testimonial-carousel .testimonial-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.testimonial-carousel {
    display: flex;
    flex-direction: column;

}

.testimonial-carousel .testimonial-text {
    font-weight: 600;
    font-size: 25px;
}

.testimonial-carousel img {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.testimonial-carousel .quote-icon svg {
    fill: #e5e5e5
}

.testimonial-carousel .splide__arrow  {
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .splide__arrow svg {
    width: 16px; 
    height: 16px;
}

.testimonial-carousel .splide__pagination button {
        background-color: #b2b2b2;
        width: 8px;
        height: 8px;
        border-radius: 100%;
}

.testimonial-carousel .splide__pagination {
    gap: 20px;
    margin-top: 40px;
}



.testimonial-carousel .splide__arrows {
    display: flex;
    order: 1;
    justify-content: center;
    gap: 120px;
    margin-top: -35px 
}


.testimonial-carousel .splide__pagination button.is-active {
    background-color: black;
}