/*icon list*/

.icon-list svg {
    width: 20px;
    height: 20px;
    fill: #FF004A;
}

.icon-list .icon-list-item {
    color: #777;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-list .icon {
    line-height: 1;
}

.product-list-heading {
    font-size: 21px;
    font-weight: 600;
    color: #3e3e3e;
}

/*icon list end*/

/* right side info features */
.info-features {
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
}

.info-features img {
    margin: auto;
    margin-bottom: 10px;
   
}

/*right side info features info end*/

/* variation | quantity */

.new-custom-variation {
    display: flex;
}

/* variation | quantity  end*/