.custom-multicolumn img {
    max-width: 76px;
    height: 380px;
    margin: auto;
    margin-bottom: 20px;
}

.custom-multicolumn h3 {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 21px;
}

.custom-multicolumn  {
    text-align: center;
}