.horizontal-custom-prod{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
}

.horizontal-custom-prod h3 {
    font-weight: 700;
    font-size: 27px;
}


.horizontal-custom-prod .product-desc {
    color: #B3B3B3;
    font-weight: 500;
    font-size: 17px;
}

.horizontal-custom-prod .product-price {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.horizontal-custom-prod  .button {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
}

.horizontal-custom-prod .stars-rating svg {
    width: 75px;
}

.horizontal-custom-prod .horizontal-img  {
    padding-left: 20px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .top-product h3 a {
        font-size: 20px;
    }

    .top-product h3 {
        margin-bottom: 10px;
    }

    .horizontal-custom-prod .product-desc {
        font-size: 14px;
    }

    .top-product .product-price {
        font-size: 16px ;
    }

    .top-product  .button {
        font-size: 14px;
    }
}