.lazyload-bg {
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .lazyload-bg {
        min-height: 500px;
    }
}

@media only screen and (max-width: 767px) {
    .lazyload-bg {
        min-height: 350px;
    }
}