.press-carousel-wrapper h2 {
    font-weight: 500;
    margin-bottom: 50px;
}

.press-item  {
    background-color: #f3f3f3;
    padding: 30px;
}

.press-item p{
    margin-bottom: 30px;
    font-size: 19px;
    color: #4F4F4F;
}

.press-item  img {
    max-width: 128px;
}


@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 767px) {
    
}