.press-carousel-wrapper h2 {
    font-weight: 500;
    margin-bottom: 50px;
}

.press-item  {
    background-color: #f3f3f3;
    padding: 30px;
}

.press-carousel-wrapper {
    position: relative;

}

.press-carousel-wrapper::before {
    content: "";
    position: absolute;
    width: 728px;
    height: 728px;
    left: 50%;
    border-radius: 100%;
    opacity:1;
    mix-blend-mode: lighten;
    transform: translateX(-50%);
    background: linear-gradient(180.04deg, #FFEEDA 0.03%, #FFFAF4 99.97%);
}

.press-item p{
    margin-bottom: 30px;
    font-size: 19px;
    color: #4F4F4F;
}

.press-item  img {
    max-width: 128px;
}


@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 767px) {
    
}