.product-grid-col-photo .container  {
    padding-top: 100px;
    padding-bottom: 100px;
}

.product-grid-col-photo h2 {
    margin-bottom: 50px;
}

.product-grid-col-photo .col-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-height: 650px;
}

.product-grid-col-photo .horizontal-img {
    display: flex;
    justify-content: center;
}

.top-product {
    margin-bottom: 20px;
}

.bottom-products h3 {
    font-size: 20px !important;
    line-height: 1.2;
    margin-bottom: 10px;
}

.top-product {
    line-height: 1.2;
}

.bottom-products .product-desc {
    font-size: 14px !important;
}

.bottom-products  .product-price{
    font-size: 16px !important;
}

.bottom-products .button {
    font-size: 14px  !important;
    margin-top: 10px !important;
}

.product-grid-col-photo .col-img .button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.top-product .w-100 {
    display: none;
}

@media only screen and (min-width: 1025px) {
    .bottom-products .button {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .bottom-products .button-full {
        display: none;
    }
}



@media only screen and (max-width: 768px) {
    .product-grid-col-photo .container  {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}