.horizontal-custom-prod{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
}

.horizontal-custom-prod h3 {
    font-weight: 700;
    font-size: 27px;
}



.horizontal-custom-prod .product-desc {
    color: #B3B3B3;
}

.horizontal-custom-prod .product-price {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.horizontal-custom-prod  .button {
    margin-top: 20px;
}