.horizontal-custom-prod{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
}

.horizontal-custom-prod h3 {
    font-weight: 700;
    font-size: 27px;
}


.horizontal-custom-prod .product-price {
    font-size: 17px;
    font-weight: 600;
}