.products-carousel h2 {
    text-align: center;
    margin-bottom: 50px;
}

.products-carousel .product-card__info  {
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    padding: 24px 32px 10px 32px;
}

.products-carousel product-card,
.products-carousel .product-card__figure  img   {
    height: 100%;
}

.products-carousel .product-card__figure {
    height: 985px;
}