.reviews-scroller h2 {
    font-weight: 500;
}

.reviews-carousel-section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.reviews-carousel-section .scroll-wrapper {
    display: flex;
    padding-bottom: 60px;
}

.reviews-carousel-section .os-scrollbar-handle {
    background-color: black !important;
}

.reviews-carousel-section {
    display: flex;
}

.reviews-carousel-section > div {
    width: 50%;
}

.reviews-carousel-section .scroll-wrapper .review-before-after-item {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 392px;
}

.reviews-carousel-section  .scroll-wrapper .review-before-after-item {
    display: block;
}


.reviews-carousel-section .os-content {
    display: flex;
}

