.review-before-after-item .review-info {
    background-color: #F3F3F3;
    padding: 20px 30px;
}

.review-before-after-item  h3 {
  
    font-size: 20px;
    font-weight:500;


}
.review-before-after-item  .review-text {
    color: #575757;
    font-size: 15px;
}

.review-before-after-item .review-author {
    margin-top: 10px;
    font-size: 18px;
    color: black;
}

.review-before-after-item:not(:last-child) {
    margin-right: 20px;
}

.review-before-after-item {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 392px;
}

.review-before-after-item {
    display: block;
}

.review-before-after-item  img {
    width: 100%;
}