.tiktok-carousel .heading-wrapper { 
        text-align: center;
        max-width: 800px;
        margin: auto;
}

.tiktok-carousel .heading-wrapper h2 {
        font-weight: 500;
}

.tiktok-carousel .splide__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

.tiktok-carousel .splide__arrow--next {
        right: 0;
}

.tiktok-carousel .splide__arrow svg {
        fill: white;
        width: 20px;
        height: 20px;
}

.tiktok-carousel .heading-wrapper p {
        font-size: 19px;
        color: #777;
}

.tiktok-carousel .heading-wrapper p a {
      color: #FF004A;
}


.tiktok-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000054;
}

