.tiktok-carousel .heading-wrapper { 
        text-align: center;
        max-width: 800px;
        margin: auto;
}

.tiktok-carousel .splide__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

.tiktok-carousel .splide__arrow--next {
        right: 0;
}

.tiktok-carousel .splide__arrow svg {
        fill: white;
        width: 20px;
        height: 20px;
}


.tiktok-carousel {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
}

