.col-list-with-image p {
    margin-bottom: 20px;
    color: #4F4F4F;
    font-size: 20px;
}

.col-list-with-image img  {
    max-width: 465px;
    display: inline;
}


.col-list-with-image .grid-item:has(img) {
    text-align: right;
}

.col-list-with-image  span {
    color: #4F4F4F;
    font-size: 20px;
    line-height: 2;
}

@media only screen and (max-width: 768px) {
    .col-list-with-image  .grid .grid-item:last-child {
        display: flex;
        justify-content: center;
    }

    .col-list-with-image img {
        max-width: 100%;
    }
}