.two-cols-products-section product-card,
.two-cols-products-section .product-card__figure  img   {
    height: 100%;
}

.two-cols-products-section li {
    list-style-type: none;
}

.two-cols-products-section  .products-wrapper {
    padding: 100px 0;
}

.two-cols-products-section  .product-card__info   {
    padding: 24px 32px 10px 32px;
}

.two-cols-products-section h2 {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .two-cols-products-section .products-wrapper {
        padding-top: 30px;
    }
}

