.price-table-with-image .subheading {
    font-size: 24px;
    color: #FF004A
}

.price-table-with-image  h2 {
    line-height: 1.2;
    font-weight: 600;
}

.price-table-with-image h2 + p:not(.after-table)  {
    color: #777 ;
}

.price-table-with-image  .table-price {
    margin: 40px 0;
}

.price-table-with-image  .table-item {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.price-table-with-image .table-item:not(:last-child) {
    border-bottom: 1px solid #B6B6B6;
}
.price-table-with-image .table-item:nth-last-child(2) {
    border-bottom: unset;
}


.price-table-with-image  .after-table {
    font-weight: 600;
    font-size: 15px;
    color: #222;
}

.price-table-with-image  {

}

.price-table-with-image  .is-last {
    background-color: white;
    font-weight: 600;
}