.price-table-with-image .subheading {
    font-size: 24px;
    color: #FF004A
}

.price-table-with-image  h2 {
    line-height: 1.2;
    font-weight: 600;
}

.price-table-with-image h2 + p:not(.after-table)  {
    color: #777 ;
}

.price-table-with-image  .table-price {
    margin: 40px 0;
}

.price-table-with-image  .table-item {
    display: flex;
    justify-content: space-between;
}

.price-table-with-image  .after-table {
    font-weight: 600;
    font-size: 15px;
    color: #222;
}