.videos-grid h2 {
    text-align: center;
    margin-bottom: 50px;
}

.videos-grid  .videos .grid-item > .section {
    padding: unset;
}

.videos-grid  .videos .grid-item .content-over-media {
    height: 500px;
}

@media only screen and (min-width: 769px) {
    .videos-grid .grid-item:not(.is-middle) {
        width: 15%;
    }
}