.videos-grid h2 {
    text-align: center;
    margin-bottom: 50px;
}

.videos-grid  .videos .grid-item > .section {
    padding: unset;
}

.videos-grid  .videos .grid-item .content-over-media {
    height: 500px;
}


.videos-grid .splide__slide > .section {
    transition: transform .25s;
}

.videos-grid .splide__arrow svg {
    width: 16px;
    height: 16px;
}

.videos-grid .splide__arrow {
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: white;
}

.videos-grid .splide__arrow--next {
    right: 0;
}

.videos-grid .splide__list {
    padding: 10px 0 !important;
}

@media only screen and (min-width: 769px) {

    .videos-grid .slider-progress {
        display: none;
    }

    .videos-grid .splide__slide:not(.splide__slide--clone):not(.is-active) > .section,
    .videos-grid .splide__slide.is-next > .section,
    .videos-grid .splide__slide.splide__slide--clone:not(.is-active) > .section {
        transform: scale(0.85);
    }

    /* .videos-grid .grid-item:not(.is-middle) {
        width: 16%;
        transform: scale(.85);
    }

    .videos-grid .grid-item.is-middle {
        flex: 1
    } */
}

@media only screen and (max-width: 768px) {
    .videos-grid .container {
        margin: unset;
    }

    .videos-grid .slider-progress {
        margin: 0 20px;
        margin-top: 50px;
    }
}