.visible-results .headings * {
    font-weight: 500;
}

.visible-results .image {
    position: absolute;
    max-height: 458px;
    top: 0;
}

.visible-results .content {
  max-width: 800px;
  margin-left: auto;
}

.visible-results .container  {
    width: 100%;
    margin-left: auto;
}


.visible-results .wrapper {
    padding: 200px 0;
}

.visible-results h2 {
    font-size: 50px;
    margin-bottom: unset;
}

.visible-results  .subheading {
    font-size: 30px;
    margin-bottom: 50px;
}

.visible-results .top-text {
    font-size: 30px;
    margin-bottom: 5px;
}


.visible-results .bottom-text {
    font-size: 18px;
    color: #777;
    text-transform: capitalize;
}

@media only screen and (min-width:1025px) and (max-width:1600px) {
    .visible-results .image {
        max-height: unset;
        height: 100%;
        width: 30%;
    }

    .visible-results img {
        height: 100%;
        object-fit: cover;
    }
}


@media only screen and (max-width: 1024px) {
    .visible-results .image {
       position: static;
        top: unset;
        max-height: unset;
        margin: auto;
        padding-bottom: 50px;
    }

    .visible-results img {
        border-radius: 40px !important;
    }

    .visible-results .content {
        max-width: 100%;
        padding: 0 20px;
    }


    .visible-results .wrapper {
        padding-bottom: 0;
        padding-top: 100px;
    }

    .visible-results  .image {
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .visible-results h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .visible-results .subheading {
        font-size: 20px;
    }

    .visible-results .image {
        padding: 0 20px;
        padding-bottom: 50px;
    }

   

    .visible-results .wrapper {
        padding-top: 20px;
    }
}
