.visible-results .headings * {
    font-weight: 500;
}

.visible-results h2 {
    font-size: 50px;
    margin-bottom: unset;
}

.visible-results  .subheading {
    font-size: 30px;
    margin-bottom: 50px;
}

.visible-results .top-text {
    font-size: 30px;
}


.visible-results .bottom-text {
    font-size: 18px;
    color: #777;
    text-transform: capitalize;
}
