.what-make-it-special img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what-make-it-special h3 {
    color: #FF004A;
    font-size: 24px;
}

.what-make-it-special .subsection p {
    font-size: 18px;
}

.what-make-it-special .subsection {
    margin-bottom: 30px;
}