.product-custom-bundle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    text-align: center;
} 

.variant-picker__option + * {
    display: none;
}

.bundle-item img {
    height: 128px;
    object-fit: contain;
}

.bundle-item,
.bundle-details   {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bundle-title {
    font-size: 17px;
    font-weight: 500;
}

.bundle-price {
    font-size: 15px;
    font-weight: 600;
}

.bundle-price .base-price {
    color: #FF004A;
}

.bundle-price  .discount-price {
    color: #9A9A9A;
    text-decoration: line-through;
}

.bundle-item {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    justify-content: space-between;
    gap: 13px;
    padding: 8px;
    cursor: pointer;
}

.bundle-item .bundle-discount {
    color: white;
    border-radius: 17px;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #DADADA;
}

.bundle-item.is-selected {
    border: 1px solid #FFB5CA;
    background-color: #FF004A05;
}

.bundle-item.is-selected .bundle-discount {
    background-color: #FF004A;
}


.what-included-wrapper {
    padding: 20px 15px;
    border: 0.5px solid #CCC;
    border-radius: 10px;
}

.included-header {
    padding-bottom: 10px;
}

.included-header .bundle-price {
font-size: 14px;
font-weight: 400;
}


.included-content  svg {
    width: 15px;
}

.included-content .step-item .icon svg {
    width: 11px;
}

.included-header h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #3E3E3E;
}

.badge-custom {
   background-color: rgb(var(--button-background-secondary));
   color: white;
   font-size: 12px;
   padding: 0 4px;
}

.included-content {
    font-size: 14px;
    color: #000;
}

.step-item .icon svg {
 fill: red   
}

.included-content {
    padding: 15px 0;
    border-top: 0.3px solid #CCC;

    margin-bottom: 10px;
    color: #000;
}

.included-footer {
    color: #000;
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    .bundle-item .bundle-discount {
        padding: 4px 10px;
        font-size: 10px;
    }
    .product-custom-bundle-container {
        gap: 10px
    }

    .bundle-title {
        font-size: 13px;
    }

    .bundle-price {
        font-size: 10px;
    }

    .bundle-item img {
        height: 85px;
    }

    .included-content {
        font-size: 11px;
    }

    .badge-custom {
        font-size: 10px;
    }
}